header {
    height: 20em;
    background: rgb(58, 120, 193) url(lighthouse.jpg) no-repeat center center;
    background-size: cover;
}

.card-footer small {
    margin-right: 0.5em;
}

.author {
    font-weight: bold;
    font-size: 0.7em;
    color: #fff;
    background: #993333;
    background: linear-gradient(to top, #993333,  #ff2d27);
    letter-spacing: 0.5em;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    border-radius: 0 0 0 1.5em;
}
